*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
   
}


.navbar-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
    align-items: start;
    

}
   
.hero {
    background-color: #f8f9fa;
    padding: 30px 30px; 
    width: 100vw;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    padding: 5% 10%; 
    gap: 10px;
}

.text-content {
    max-width: 40%;
}

.image-content {
    max-width: 40%;
}

.image-content img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.125rem;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success:hover {
    background-color: #218838;
}
  .clients img {
    height: 120px;
    opacity: 0.7;
    column-gap: 100px;
  }
  
  .clients img:hover {
    opacity: 1;
  }
  
  .features h4 {
    font-weight: bold;
    margin-bottom: 15px;
  }


  .stats-section {
    background-color: #f8fafc;
    padding: 50px 0;
    text-align: center;
  }
  .stats-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #444;
  }
  .stats-highlight {
    color: #4CAF50;
    font-weight: 700;
  }
  .stats-subtitle {
    color: #666;
    font-size: 1rem;
    margin-top: 10px;
  }
  .stats-item {
    color: #444;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .stats-label {
    color: #666;
    font-size: 0.9rem;
  }
  .icon {
    font-size: 2rem;
    color: #4CAF50;
  }
  
  .stats h4 {
    color: #28a745;
    font-weight: bold;
  }

  .custom-section {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #f8f9fa;
}
.custom-section .image-container {
    flex: 1;
    text-align: center;
}
.custom-section .image-container img {
    max-width: 70%;
    height: auto;
}
.custom-section .content {
    flex: 1;
}
.custom-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.custom-section p {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.6;
}
.custom-section .btn-learn-more {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}
.custom-section .btn-learn-more:hover {
    background-color: #218838;
}


  
  .footer ul {
    padding: 0;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .blog .card {
    border: none;
    transition: transform 0.3s ease;
  }
  
  .blog .card:hover {
    transform: scale(1.05);
  }
  